.top_info{
    background-color: $primary_color;
    
}

.tovar_section{
    .row{
        .tovar_wrapper{
            .tovar_description{
                display: flex;
                flex-direction: column;
                
                .tovar_title{
                
                }
                .tovar_price{
            
                }
            }
        }
    }
}

