$ROBOTO-BOLD: "Roboto-Bold";
$ROBOTO-MEDIUM: "Roboto-Medium";
$ROBOTO-REGULAR: "Roboto-Regular";
$Font: var( --primary-font);
$primary_color: var(--color-1st);
$primary_color_text: var(--color-text);
$primary_color_text_white: var(--color-text-white);

$color_text_hover: #ff6600;
$black: #0e0e0e;
$orange: #fcb852;
$grey: #dedede;
$white: #fff;